<h1>Summon a creature from Beyond</h1>
<form action='/creatures/add' method='POST'>
  <label for='name'>Name of creature</label>
  <input type='text' name='name' placeholder='Dragon' />

  <label for='description'>Description</label>
  <input
    type='text'
    name='description'
    placeholder='Dragons are the apex predators of the skies...'
  />

  <label for='mythology'>Mythology</label>
  <input type='text' name='mythology' placeholder='The Middle Ages' />

  <label for='imgUrl'>Image Url</label>
  <input type='text' name='imgUrl' />

  <button type='submit'>Summon</button>
</form>

<a href='/creatures'><button class='outline'>Return</button></a>